.transition-width {
  transition: width 0.2s;
}

.transition-margin {
  transition: margin-left 0.2s;
}

.transition-all {
  transition: all 0.2s;
}

.bg-weddingPink {
  background-color: #ff69b4;
}

.text-weddingGold {
  color: #ffd700;
}

/* .bg-weddingGold {
  background-color: #ffd700;
}

.bg-weddingWhite {
  background-color: #fffafa;
}

.hover\:bg-weddingGold-dark:hover {
  background-color: #e6be8a;
} */
